

<h1> Hi! <%=@user.name%> </h1>

<div class="row">

<% if @user.shows.count < 1 %>
  <h3> It looks like you're book shelf is pretty empty! </h3>
  <h3> Why don't you add some more shows? </h3>
  <% else %>
    <h3> You've got a good looking library but</h3>
    <h3> why don't you add some more shows? </h3>
  <% end %>
</div>

<div class="relative-container">
<div class="row-absolute">
<ul class="list-inline">
<% @user.shows.each do |show| %>
  <li> <%=show.title %><br>
    <% if show.poster.nil? %>
    <%= image_tag 'http://placehold.it/100x130', width: '100' %>
    <% else %>
    <%= image_tag show.poster, width: '100' %>
    <% end %>
  </li>
<% end %>
</ul>
</div>
</div>

<div class="row">
  <%= form_for(Show.new) do |f| %>
    <%= f.hidden_field :user_id, :value => @user.id %>
    <div class="input-group">
        <%= f.text_field :title, class: "form-control", :placeholder => "Show Title" %>
        <span class="input-group-btn">
          <%= f.submit "Add!", class: "btn btn-default" %>
        </span>
      <% end %>
    </div>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<%= link_to 'All Done!', user_path(@user) %>