<div class="show_wrapper" style="margin-top:60px;">
  <br>
  <% if @user == @current_user%>
    <h1 style="margin-left:200px; margin-right:200px">Hi <%= @user.name.split(" ").first %>! Here it is! Fresh series recomendations. Sweeet!</h1>
    <h5>Sort By: <div id='sort_friends' class="clickable">Based on your friends likes </div> | <div id='sort_rating' class="clickable">Based on Imdb Ratings</div></h5>
  <% else %>
    <h1><%= image_tag @user.picture, width: '75' %> <%= @user.name.split(" ").first %>'s Page</h1>
  <% end %>


 <div class="clickable">
  <h2>
    <div id="my_shows"> My Shows </div>
  </h2>
<div id="friend_show_list">
  <div class="sort_by_friends">
    <div class="container-full" style="margin-top:28px">
      <div class="row" style="margin-left:10px; margin-right: 5px">
        <ul class="list-inline" id="my_show_list">
          <% @user.shows_sort_by_friends.each do |show, count| %>
            <li class="span-tv">
             <div class="row cool-shows">
               <div class="col-xs-6 col-md-5 show-left" style="background-image: url(<% if show.poster.nil? %><%= 'OLD_SCHOOL_TV.jpg' %><% else %><%= show.poster %><% end %>)">
                 <div class="top">
                   <h2><%=count%> Friends Like </h2>
                 </div>
               </div>
               <div class="col-xs-12 col-md-7 show-right">
                 <div class="top-left">
                   <h2><%= show.title %></h2>

                   <% show.genre.split(',').each do |genre| %>
                 <span class="label label-default"><%= genre %></span>
                 <% end %>

                   <p style="margin-top:17px"><%= show.plot%></p>
                 </div>

                 <%=form_for(UserShow.new) do |f| %>
                  <%=f.hidden_field :show_id, :value =>show.id %>

                   <%=f.submit "Add to my shows", { class: "btn btn-primary btn-lg", style: 'width:100%' } %>
                   <% end %>
               </div>
             </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="sort_by_rating">
    <div class="container-full" style="margin-top:28px">
      <div class="row" style="margin-left:10px; margin-right: 5px">
        <ul class="list-inline" id="my_show_list">
          <% @user.shows_sort_by_rating.each do |show, rating| %>
            <li class="span-tv">
             <div class="row cool-shows">
               <div class="col-xs-6 col-md-5 show-left" style="background-image: url(<% if show.poster.nil? %><%= 'OLD_SCHOOL_TV.jpg' %><% else %><%= show.poster %><% end %>)">
                 <div class="top">
                   <h2>Imdb rating: <%=rating%> </h2>
                 </div>
               </div>
               <div class="col-xs-12 col-md-7 show-right">
                 <div class="top-left" style="height:63%">
                   <h2><%= show.title %></h2>

                   <p style="margin-top:17px"><%= show.plot%></p>
                 </div>

                 <button type="button" class="btn btn-primary btn-lg pull-right btn-update" style="width:100%">
                   <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                   <%= link_to "IMDB page", show.url, :target => "_blank"%>
                 </button>

                 <%=form_for(UserShow.new) do |f| %>
                  <%=f.hidden_field :show_id, :value =>show.id %>

                   <%=f.submit "Add to my shows", { class: "btn btn-primary btn-lg", style: 'width:100%; margin-top: 8px' } %>
                   <% end %>
               </div>
             </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


</div>