<%= link_to 'Log Out', logout_path %>

<h1> Hello User <%= @user.name %> </h1>
<%= image_tag(@user.picture) %>

<br>
<h2> My Shows | <%= link_to 'Add More Shows', edit_user_path(@user) %> </h2>
<ul>
<% @user.shows.each do |show| %>
  <li> <%=show.title %> </li>
<% end %>
</ul>


<h2> My Friends </h2>
<ul>
<% @user.friends_list.each do |f| %>
  <li> <%= link_to f.name, user_path(f) %> </li>
<% end %>
</ul>
