<!DOCTYPE html>
<html>
<head>
  <title>Whatyouwatching</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">Cover</h3>
            <nav>
              <ul class="nav masthead-nav">
                <li class="active">
                  <a href="#">Home</a>
                </li>

                <% if logged_in? %>
                  <li><%= link_to 'Log Out', logout_path%></li>
                <% end %>
                <li>
                  <% if logged_in? %>
                   <%= image_tag(@user.picture, size: "16") %>
                  <% end %>
                </li>
              </ul>
            </nav>
          </div>
        </div>
          <%= yield %>
     </div>
    </div>
  </div>
</body>
</html>
